@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?s6n6zs');
  src: url('../fonts/icomoon.eot?s6n6zs#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?s6n6zs') format('truetype'), url('../fonts/icomoon.woff?s6n6zs') format('woff'), url('../fonts/icomoon.svg?s6n6zs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.w {
  width: 1226px;
  margin: 0 auto;
}
.top_nav {
  height: 40px;
  background-color: #333333;
  position: relative;
}
.top_nav .left {
  width: 728px;
  height: 40px;
  line-height: 40px;
}
.top_nav .left a {
  color: #e0e0e0;
}
.top_nav .left a:hover {
  color: red;
}
.top_nav .left ul li {
  float: left;
}
.top_nav .left ul li:nth-child(even) {
  margin: 0 6px;
}
.top_nav .right {
  position: absolute;
  right: 3px;
  width: 236px;
  height: 40px;
  line-height: 40px;
  top: 0px;
}
.top_nav .right ul li {
  float: left;
  font-family: 'iconfont';
  color: aliceblue;
}
.top_nav .right ul li:nth-child(even) {
  margin: 0 6px;
}
.top_nav .right ul li a {
  color: aliceblue;
}
.top_nav .right ul li a:hover {
  color: red;
}
header {
  height: 100px;
  position: relative;
  padding-top: 10px;
}
header .login {
  position: absolute;
  width: 62px;
  padding-top: 20px;
}
header .login img {
  width: 56px;
  height: 56px;
}
header .header_nav {
  position: absolute;
  height: 100px;
  width: 600px;
  left: 300px;
}
header .header_nav ul li {
  float: left;
  padding: 0 8px;
  line-height: 100px;
  font-size: 16px;
  color: #333333;
}
header .search {
  width: 300px;
  height: 46px;
  position: absolute;
  right: 5px;
  top: 29px;
  border: 1px solid #696666;
}
header .search input {
  width: 245px;
  height: 44px;
  border: 0;
  border-right: 1px solid #696666;
  padding-left: 10px;
}
header .search button {
  text-align: center;
  font-family: 'iconfont';
}
footer {
  height: 500px;
  background-color: #fff;
}
footer .footer_nav {
  height: 95px;
  border-bottom: 1px solid #e0e0e0;
  padding: 27px 0;
}
footer .footer_nav li {
  float: left;
  font-family: 'icomoon';
  font-size: 23px;
}
footer .footer_nav li:nth-child(even) {
  width: 5px;
  height: 5px;
  margin: 0 42px;
  color: #e0e0e0;
}
footer .footer_dd {
  height: 190px;
  padding: 20px 0;
}
footer .footer_dd dl {
  float: left;
  width: 160px;
}
footer .footer_dd dl:nth-child(6) {
  border-right: 1px solid #bbb;
}
footer .footer_dd dl dt {
  margin-bottom: 18px;
  font-size: 16px;
  color: #404040;
}
footer .footer_dd dl dd {
  font-size: 12px;
  margin: 8px 0;
}
footer .footer_dd .phone {
  margin-right: 53px;
  float: right;
  padding: 10px;
}
footer .footer_dd .phone p {
  text-align: center;
}
footer .footer_dd .phone p:nth-child(1) {
  color: coral;
  font-size: 18px;
  text-align: center;
}
footer .footer_dd .phone p:nth-child(2) {
  font-size: 12px;
  color: #bbb;
}
footer .footer_dd .phone p:nth-child(3) {
  height: 30px;
  line-height: 30px;
  font-family: 'icomoon';
  border: 1px solid #e77742;
  font-size: 14px;
  color: coral;
}
footer .footer_dd .phone p:nth-child(4) {
  font-family: 'icomoon';
}
footer .right {
  padding: 30px 0;
  position: relative;
}
footer .right p {
  position: absolute;
  top: 30px;
}
footer .right p img {
  width: 50px;
  height: 50px;
}
footer .right span {
  float: right;
  margin-right: 200px;
}
