.w {
  width: 1226px;
  margin: 0 auto;
}
body {
  height: 3000px;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?s6n6zs');
  src: url('../fonts/icomoon.eot?s6n6zs#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?s6n6zs') format('truetype'), url('../fonts/icomoon.woff?s6n6zs') format('woff'), url('../fonts/icomoon.svg?s6n6zs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.banner {
  width: 1226px;
  height: 460px;
  background: url(../images/banner2.webp) no-repeat;
  background-size: cover;
  position: relative;
}
.banner .subnav {
  width: 250px;
  height: 460px;
  position: absolute;
  left: 0;
  background-color: rgba(116, 105, 105, 0.3);
}
.banner .subnav ul li {
  position: relative;
  padding-left: 25px ;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #faf9f9;
}
.banner .subnav ul li a {
  color: #FFFF;
}
.banner .subnav ul li:hover {
  background-color: #ff6700;
}
.banner .subnav ul li::after {
  content: '';
  color: #FFFF;
  position: absolute;
  right: 3px;
}
.bottom_nav {
  margin-top: 10px;
  height: 170px;
  display: flex;
}
.bottom_nav .flash_news {
  background-color: #5f5750;
}
.bottom_nav .flash_news li {
  width: 71px;
  height: 85px;
  float: left;
  font: 12px;
  border-bottom: 1px solid #c0b7b7;
  border-right: 1px solid #FFFF;
}
.bottom_nav .flash_news li a {
  color: #FFFF;
}
.bottom_nav .flash_news li img {
  width: 24px;
  height: 24px;
  margin-top: 20px;
  margin-left: 20px;
}
.bottom_nav .flash_news li p {
  margin: 13px 0 0 8px;
}
.bottom_nav div {
  flex: 1;
  width: 316px;
  height: 170px;
  margin: 0 8px;
}
.bottom_nav div img {
  width: 316px;
  height: 170px;
}
section {
  width: 1263.33px;
  padding: 20px 15px;
  background-color: #f5f5f5;
}
section img {
  width: 1226px;
  height: 120px;
}
section .bt {
  line-height: 58px;
  height: 58px;
  position: relative;
}
section .bt h1 {
  position: absolute;
  display: inline-block;
  left: 0;
  font-size: 22px;
}
section .bt a {
  position: absolute;
  right: 0;
  font-size: 16px;
}
section .goods {
  display: flex;
  flex-wrap: wrap;
}
section .goods .big {
  float: left;
  background-color: #ffffff;
}
section .goods .big img {
  height: 614px;
  width: 234px;
}
section .goods .big:hover {
  box-shadow: 6px 6px 10px rgba(107, 99, 99, 0.3);
}
section .goods ul {
  float: left;
  width: 992px;
  height: 630px;
}
section .goods ul li {
  float: left;
  background-color: #FFFF;
  flex: 1;
  width: 230px;
  height: 300px;
  margin: 0 8px;
}
section .goods ul li img {
  margin-top: 20px;
  margin-left: 35px;
  width: 160px;
  height: 160px;
}
section .goods ul li .p1 {
  margin: 8px 0 4px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
section .goods ul li .p2 {
  margin: 5px auto;
  text-align: center;
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
}
section .goods ul li .p3 {
  margin-top: 15px;
  text-align: center;
  color: #ff6700;
}
section .goods ul li:nth-child(-n+4) {
  margin-bottom: 25px;
}
section .goods ul li:hover {
  box-shadow: 6px 6px 10px rgba(107, 99, 99, 0.3);
}
